/* Copiado de otro proyecto */

@CHARSET "US-ASCII";

.formtable {
	width: 400px;
	padding: 10px;
	border: 1px solid blue;
}

input[type=text] {
	width: 250px;
	
}

input[type=password] {
	width: 250px;
	
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.vertical_menu_item {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.vertical_menu_item:hover {
    background-color: #555;
    color: white;
}

.active {
    display: block;
    padding: 8px 0 8px 16px;
    text-decoration: bold;
    background-color: #4CAF50;
    color: white;
}

.vertical_menu {
	float:left;
	margin-right: 1cm;
}